@tailwind base;
@tailwind components;
@tailwind utilities;

.dis {
    border-radius: 3px;
background: var(--foundation-grey-darker, #0C0C0C);
box-shadow: -4px 4px 0px 0px rgba(38, 38, 38, 0.93);
}
.twit {
    border-radius: 3px;
border: 1px solid #000;
box-shadow: -4px 4px 0px 0px rgba(38, 38, 38, 0.93);
}
.hatch {
    border: 1px solid #919191;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.inj {
    border-radius: 8px;
border: 1px solid #000;
background: var(--foundation-white-light-active, #FBFBFB);
box-shadow: -20px 20px 0px 0px #000;
}